version: "3.9"

services:
  postgres-db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: flaskdb
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - flask-network

  flask-app:
    build: .
    container_name: flask-app
    depends_on:
      - postgres-db
    networks:
      - flask-network

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - flask-app
    networks:
      - flask-network

volumes:
  postgres-data:

networks:
  flask-network:
